.header {
    padding: 20px;
    box-shadow: 0px 4px 14px 10px #00000008;
    &_menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &_logo {
        width: 216px;
        height: 14px;
    }
    &_nav {
        ul {
            list-style: none;
            display: flex;
            text-transform: uppercase;
            li {
                width: 69px;
                height: 24px;
                white-space: nowrap;
                padding: 0 20px;
            }
        }
    }
}
