// Couleurs
$red-dark-color: #E00000;
$red-color: #FE5858;
$red-light-color: #FFD6D6;
$blue-dark-color: #313144;
$grey-dark-color: #C4C4C4;
$grey-medium-color: #D8D8D8;
$grey-light-color: #E5E5E5;
$black-color: #000000;
$white-color: #FFFFFF;
$light-background: rgba(0, 0, 0, 0.8);
$border-color: #B8BBC2;
$shadow-color: #00000005;

// Typographie
$primary-font: 'SpaceMono', sans-serif;
$secondary-font: 'Poppins', sans-serif;

// Tailles
$font-size-large: 96px;
$font-size-medium: 66px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

// Espacements
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 50px;
$spacing-xlarge: 60px;

//Breakpoints
$mobile: 576px;
$tablette: 768px;